*{
  
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.logo{
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    font-family : 'Artifika', serif ;

}
.logo span{
    color: #cc0033; 
}
.navbar{
    display: flex;
    position: relative;
    margin-right: 50px;
}
.navbar li{
    list-style: none;
}
.navbar a{
     color: #ffffff;
     font-weight: bold;
     font-size: 20px;
     margin-left: 30px;
     text-decoration: none;
}
header .navbar li a:hover{
    color: #cc0033;
    border-bottom: 2px solid #cc0033;
}
.banniere{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.6)),url('devellope.jpg') center
        no-repeat;
        background-size: cover;
        background-position: center;
        height: 850px;
}
.text{
    position: relative;
    top: 250px;
    left: 80px;
    color: #ffffff;
}
.propos{
    text-align: center;
}
/*.propos::after{
    content: "";
    position: absolute;
    bottom: 6%;
    left: 54%;
    width:57px;
    height: 3px;
    background-color: #cc0033;    
}
.propos::before{
    content: "";
    position: absolute;
    bottom: 6%;
    left: 785px;
    width: 57px;
    height: 3px;
    background-color: #cc0033;
  
}*/
h4{
    color: #cc0033;
}
.text1{
    position: relative;
   top: 5%;
   font-size: 25px;
}
header.sticky{
    background-color:#ffffff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
    color: #000;
}
header.sticky .navbar li a{
    color: #000;
}
.moi{
    margin-left: 30px;
}
.propos1{
    text-align: center;
}
/*.competent::after{
    content: "";
    position: absolute;
    bottom: 6%;
    left: 54%;
    width:57px;
    height: 3px;
    background-color: #cc0033;    
}
.propos1::before{
    content: "";
    position: absolute;
    bottom: 6%;
    left: 785px;
    width: 57px;
    height: 3px;
    background-color: #cc0033;
  
}*/
.card{
    width: 329px;
    height: 322px;
    border-radius: 10px;
    background-color: #EDE9E9;
}
.card:hover{
    background: crimson;
}
footer{
    background: #000;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
body{
    overflow-x: hidden;
}
.subheading{
    padding: 11px;
    width: 30px;
    height: 15px;
    background-color: #cc0033;
    color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width:991px) {
    header, header.sticky{
        padding: 10px 20px;
    }
    header .navbar li{
        margin-left: 0px;
    }
    header .navbar li a{
        text-decoration: none;
        color: #000;
        font-size: 1.6em;
        font-weight: bold;
    }
   
    .menutoggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("burger.png");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

    }
    .menutoggle.active{
        background-image: url("close.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    section{
        padding: 20px;
    }
    .text{
        margin-bottom: 130px;
        margin-right: 10px;
    }    
}
@media (max-width:360px) {
    .text h3{
        font-size: 20px;
    }
    .ban{
        width: 400px;
        height: 400px;
    }
    .contact{
        margin-bottom: 300px;
    }
}
@media (max-width:750px) {
    .text1{
        font-size: 20px;
        margin-right: 10px;
    }
    body{
        width: 100%;
    }
}